.cart-item {
  position: relative;
  height: 11rem;
  padding: 1.2rem;
  border-radius: 9px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  background-color: #fff;

  display: grid;
  grid-template-columns: 30fr 70fr;
  gap: 1.2rem;
}

.cart-item-img-cntr {
  display: flex;
  height: 8.6rem;
  border-radius: 9px;
  overflow: hidden;
}

.cart-item-img-cntr img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.cart-item-content {
  display: flex;
  flex-direction: column;
}

.cart-item-title {
  font-weight: 700;
  height: 2.8rem;
  flex-shrink: 0;
}

.cart-item-data {
  margin-top: auto;
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.cart-item-qty {
  width: 4.2rem;
  padding: 0.8rem 1.2rem;
  border: 1px solid #aaa;
  border-radius: 9px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-item-total {
  width: 9rem;
  text-align: center;
  margin-left: auto;
  color: #444;
  font-weight: 600;
  padding: 0.4rem 0.8rem;
  border-radius: 9px;
  background-color: #ffd597;
  letter-spacing: 0.5px;
}

.btn-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  height: 3.2rem;
  width: 3rem;
  transition: all 0.3s;
}

.icon:hover {
  transform: scale(1.15);
}

.btn-icon--close {
  position: absolute;
  top: 0;
  right: 0;
}

.icon--pink {
  stroke: #f97474;
}

.icon--pink:hover {
  stroke: #c75d5d;
}

.icon--green {
  stroke: #44911b;
}

.icon--green:hover {
  stroke: #367416;
}
