.empty-cart {
  border: dashed 4px #f97474;
  border-radius: 15px;
  height: 40rem;
  padding: 3.2rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.header {
  font-size: 3rem;
  font-weight: 600;
}
