.carousel {
  height: 48rem;
  margin-bottom: 1.2rem;
  border-radius: 15px;

  display: grid;
  grid-template-columns: auto 1fr auto;
}

.btn--carousel {
  align-self: center;
  padding: 4rem 0;
  border: none;
  background-color: #de7607;
  cursor: pointer;
  transition: all 0.3s;
}

.btn--carousel:hover {
  background-color: #b25e06;
}

.btn--carousel--left {
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
}

.btn--carousel--right {
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
}

.arrow-icon {
  height: 2.4rem;
  width: 2.4rem;
  stroke: #fff;
}

.carousel-content {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  border-radius: 11px;
  overflow: hidden;
}

.carousel-slides {
  height: 100%;
  display: flex;
  transition: all 0.5s;
}

.slide {
  flex: 0 0 100%;
}

.carousel-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.counter-dot {
  height: 1.2rem;
  width: 1.2rem;
  background-color: #de7607;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.counter-dot:hover,
.counter-dot--current {
  background-color: #b25e06;
  transform: scale(1.15);
}

@media (max-width: 36em) {
  .carousel {
    height: auto;
    margin: 0 -2.4rem 1.2rem;
  }
}
