.categories-container {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.categories-container label {
  color: #f97474;
  font-weight: 600;
}

.categories {
  flex: 1;
  font-size: 1.8rem;
  font-weight: 500;
  color: #f97474;
  border: 2px solid #aaa;
  display: inline-block;
  padding: 0.8rem 1.6rem;
  border-radius: 9px;
  cursor: pointer;
}
