.accordion-header {
  padding: 3.2rem;
  background-image: linear-gradient(to right, #de7607, #e59139);
  color: #fff;
  border-radius: 13px;

  display: grid;
  grid-template-columns: 6rem 1fr 4.4rem;
  align-items: center;
  gap: 3.2rem;
}

.logo-img {
  width: 100%;
}

.accordion-btn {
  width: 4.4rem;
  height: 4.4rem;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.accordion-btn:hover {
  transform: scale(1.15);
}

.accordion-arrow {
  width: 3.2rem;
  height: 3.2rem;
  stroke: #fff;
  transition: all 0.3s;
}

.accordion-btn--close .accordion-arrow {
  transform: rotate(180deg);
}

.accordion-content {
  overflow: hidden;
  max-height: 0;
  margin-bottom: 3.2rem;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.accordion-content--open {
  margin-top: -1rem;
  max-height: 99rem;
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.content-box {
  overflow: hidden;
  border-radius: 0 0 11px 11px;
  border: 2px solid #aaa;
  border-top: none;
  padding: 4.2rem 3.2rem 3.2rem;

  display: grid;
  grid-template-columns: 60fr 40fr auto;
  gap: 2.4rem;
}

.restaurant-info {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.restaurant-info > p,
.restaurant-info > address {
  margin-bottom: 0.8rem;
  line-height: 1.6;
}

.restaurant-info address {
  font-style: normal;
}

.restaurant-img-cntr {
  width: 100%;
  border-radius: 11px;
  background-size: cover;
  background-position: center;
}

.contact-info {
  font-weight: 500;
  margin-top: 1.2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (max-width: 48em) {
  .content-box {
    grid-template-columns: 1fr;
  }

  .restaurant-img-cntr {
    grid-row: 1;
    height: 32rem;
  }

  .social-links {
    grid-row: 2;
    flex-direction: row;
    margin: 1.2rem 0;
  }
}

@media (max-width: 36em) {
  .accordion-header {
    padding-bottom: 0;
    grid-template-columns: 6rem 1fr;
    grid-template-rows: 1fr auto;
  }

  .accordion-btn {
    grid-column: span 2;
    width: 100%;
    border: none;
    border-top: 1px solid #fff;
    border-radius: 0;
  }

  .accordion-btn:hover {
    transform: none;
  }
}
