.accordion-header {
  padding: 3.2rem;
  background-image: linear-gradient(to right, #de7607, #e59139);
  color: #fff;
  border-radius: 13px;

  display: grid;
  grid-template-columns: 6rem 1fr 4.4rem;
  align-items: center;
  gap: 3.2rem;
}

.logo-img {
  width: 100%;
}

.accordion-btn {
  width: 4.4rem;
  height: 4.4rem;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.accordion-btn:hover {
  transform: scale(1.15);
}

.accordion-btn--close {
  transform: rotate(180deg);
}

.accordion-btn.accordion-btn--close:hover {
  transform: rotate(180deg) scale(1.15);
}

.accordion-arrow {
  width: 3.2rem;
  height: 3.2rem;
  stroke: #fff;
}

.accordion-content {
  overflow: hidden;
  max-height: 0;
  border-radius: 0 0 11px 11px;
  margin-top: -1rem;
  margin-bottom: 3.2rem;
  transition: all 0.4s ease-in-out;
  opacity: 0;

  display: grid;
  grid-template-columns: 60fr 40fr auto;
  gap: 2.4rem;
}

.accordion-content--open {
  max-height: 99rem;
  padding: 4.2rem 3.2rem 3.2rem;
  border: 2px solid #aaa;
  border-top: none;
  opacity: 1;
}

.restaurant-info {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.restaurant-img {
  width: 100%;
}

.social-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
