.header {
  position: fixed;
  height: 7.2rem;
  width: 100%;
  z-index: 10;
  background-color: #e18420;
  padding: 1.2rem;

  display: flex;
  gap: 1.6rem;
}

.heading {
  align-self: center;
  text-transform: uppercase;
  color: #fff;
}

.header-img {
  height: 100%;
}

.header-searchbar {
  width: 60rem;
  border-radius: 21px;
  border: none;
  margin-left: auto;
  padding: 0 1.6rem;
}

.header--btn {
  border: none;
  border-radius: 9px;
  background-color: transparent;
  padding: 1.2rem;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header--btn:hover {
  background-color: #c86a06;
}

.icon {
  width: 3.2rem;
  height: 3.2rem;
  stroke: #fff;
}
