.header {
  position: fixed;
  top: 0;
  height: 7.2rem;
  width: 100%;
  z-index: 10;
  background-color: #e18420;
  padding: 1.2rem;

  display: flex;
  gap: 1.6rem;
}

.header-heading {
  align-self: center;
  text-transform: uppercase;
  color: #fff;
}

.header-img {
  height: 100%;
}

.header-searchbar {
  width: 60rem;
  border-radius: 21px;
  border: none;
  margin-left: auto;
  padding: 0 1.6rem;
}

.header--btn {
  border: none;
  border-radius: 9px;
  background-color: transparent;
  padding: 1.2rem;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header--btn:hover {
  background-color: #c86a06;
}

.icon {
  width: 3.2rem;
  height: 3.2rem;
  stroke: #fff;
}

@media (max-width: 48em) {
  .header-searchbar {
    width: 40rem;
  }
}

@media (max-width: 36em) {
  .header {
    padding: 1.2rem 0.8rem;
    gap: 0.4rem;
  }

  .header-img {
    margin-right: 1.2rem;
  }

  .header-heading {
    display: none;
  }

  .header-searchbar {
    align-self: center;
    flex: 1;
    padding: 0.8rem 1.2rem;
    font-size: 1.4rem;
  }

  .header--btn {
    padding: 0.8rem;
  }

  .icon {
    width: 3rem;
    height: 3rem;
  }
}
