.input-container {
  display: flex;
  flex-direction: column;
}

.input-label {
  color: #333;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.input-body {
  display: flex;
  gap: 0.4rem;
}

.input-box {
  flex: 1;
  font-size: 1.8rem;
  padding: 0.8rem 1.2rem;
  border: 1px solid #aaa;
  border-radius: 7px;
  resize: none;
  transition: all 0.3s;
}

.input-box--error {
  background-color: rgba(249, 116, 116, 0.15);
  border: 1px solid #f97474;
}

.input-box:disabled {
  color: #777;
  background-color: rgba(0, 0, 0, 0.1);
}

.input-error {
  height: 1.4rem;
  margin-top: 0.8rem;
  color: #f97474;
  font-size: 1.4rem;
}
