@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* Font Size = 10px */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: 'Lexend', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  color: #555;
  overflow-x: hidden;
}

input {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 2.4rem;
}

.grid {
  display: grid;
  row-gap: 1.2rem;
  column-gap: 2.4rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.btn {
  display: inline-block;
  padding: 1.2rem 1.6rem;
  border: none;
  border-radius: 9px;
  background-color: #44911b;
  color: #fff;
  font-size: inherit;
  font-family: inherit;
  font-weight: 500;
  transition: all 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: #367416;
}

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
