.link:link,
.link:visited {
  width: fit-content;
  padding: 0.8rem 1.6rem;
  background-color: #fff;
  color: #f97474;
  font-size: 1.8rem;
  text-decoration: none;
  border: 2px solid #f97474;
  border-radius: 9px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

.link:hover,
.link:active {
  background-color: #f97474;
  color: #fff;
}

.link:hover .arrow-icon {
  stroke: #fff;
}

.arrow-icon {
  width: 2.4rem;
  height: 2.4rem;
  stroke: #f97474;
}

.arrow-icon--right {
  margin-left: auto;
  transform: rotate(180deg);
}
